<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
    <link rel="stylesheet" href="{% static 'main/student.css' %}" />
</head>
<body>
    {% if students %}
    <table>
        <tr>
            <th class="tb">Student's Name</th>
            <th class="tb">Student's ID</th>
            <th class="tb">Student's Batch</th> 
        </tr>
        {% for each in students %}
        <tr>
            <td class="tb">{{each.student_name}}</td>
            <td class="tb">{{each.student_id}}</td>
            <td class="tb">{{each.student_batch}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h3>Database Empty</h3>
    {% endif %}
</body>
</html>