{% extends 'main/format.html' %}
{% load static %}
{% block title %} Home {% endblock title %}

{% block link %} 
<link rel="stylesheet" href="{% static 'about/teachers.css' %}"
<link rel="stylesheet" href="{% static 'main/main.css' %}"/>
{% endblock link %}

{% block body %}
    <div class="main_section">
        <button class="btn"><a href="{% url 'add_contact'%}">Add Contact</a> </button>
        {% if contact %}
        <table>
         <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>address</th> 
         </tr>
        {% for each in contact %}
        <tr>
            <td>{{each.name}}</td>
            <td>{{each.email}}</td>
            <td>{{each.phone}}</td>
            <td>{{each.address}}</td>
        </tr>
        {% endfor %}
        </table>
        {% else %}
        <h2>Empty Database</h2>
        {% endif %}
    </div>
{% endblock body %}